{% extends 'base.html' %}

{% load static %}

{% block pagetitle %}British Science Week 2022: Astronomy Needs You! {% endblock %}
{% block title %}British Science Week 2022: Astronomy Needs You! {% endblock %}

{% block content %}

<div class="row mb-5">
    <div class="col-8">
        <h2>How you can be part of astronomy's big data revolution</h2>

        <p>As part of British Science Week, we hosted a live panel discussion and Q&amp;A where we talked about
            the connection between the coming &ldquo;big data&rdquo; era in astronomy and the increasing importance of
            citizen science projects for training machine learning models.</p>

        <p>Open University research student <a href="https://twitter.com/AstroAdamMc">Adam McMaster <i
                    class="bi bi-twitter"></i></a> was joined by <a href="https://twitter.com/StephenSerjeant">Stephen
                Serjeant <i class="bi bi-twitter"></i></a>, Hugh
            Dickinson, and
            <a href="https://twitter.com/OgNimaeb">Beatriz Mingo <i class="bi bi-twitter"></i></a> to discuss black
            holes, machine learning, and citizen science. We encouraged the audience
            to join us in working on one of our current projects, <a
                href="https://www.zooniverse.org/projects/hughdickinson/superwasp-black-hole-hunters">Black Hole
                Hunters</a>.
        </p>

        <p><strong>During the event, the audience completed over 7,000 classifications and our total for the day was
                over 14,000 classifications!</strong> This is an amazing effort! Thank you to everyone who took part.
        </p>

        <p>A recording of the live stream is available below:</p>

        <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/xKgf1p8lr5o"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>

        <h2 class="mt-5 mb-3">Check out our other citizen science projects</h2>

        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="card" style="width: 100%;">
                        <img src="{% static '/images/skycoverage.png' %}" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title">SuperWASP Variable Stars</h5>
                            <p class="card-text" style="height: 3em;">Discover the weirdest variable stars.</p>
                            <a href="https://www.zooniverse.org/projects/ajnorton/superwasp-variable-stars"
                                class="btn btn-primary">Get Started</a>
                            <a href="https://www.zooniverse.org/projects/ajnorton/superwasp-variable-stars"
                                class="btn btn-primary"><i class="bi bi-twitter" aria-label="Twitter"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card" style="width: 100%">
                        <img src="{% static '/images/rgz-lofar.jpg' %}" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title">Radio Galaxy Zoo LOFAR</h5>
                            <p class="card-text">Find supermassive black holes and starforming
                                galaxies.</p>
                            <a href="https://www.zooniverse.org/projects/chrismrp/radio-galaxy-zoo-lofar"
                                class="btn btn-primary">Get Started</a>
                            <a href="https://twitter.com/radiogalaxyzoo" class="btn btn-primary"><i
                                    class="bi bi-twitter" aria-label="Twitter"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card mb-5" style="width: 100%;">
            <img src="{% static '/selflensingimages/lensing-artist-impression.jpg' %}" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">Black Hole Hunters</h5>
                <p class="card-text">Search for hidden black holes!</p>
                <a href="https://www.zooniverse.org/projects/hughdickinson/superwasp-black-hole-hunters"
                    class="btn btn-primary">Get Started</a>
                <a href="https://twitter.com/BlackHoleHunter" class="btn btn-primary"><i class="bi bi-twitter"
                        aria-label="Twitter"></i></a>
            </div>
        </div>

        <div class="card" style="width: 100%;">
            <img src="{% static '/images/60-sec-ai.png' %}" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">60 Second Adventures in Artificial Intelligence</h5>
                <p class="card-text">Learn more about machine learning and how we use it in our research.</p>
                <a href="https://www.open.ac.uk/science/physical-science/news/60-second-adventures-artificial-intelligence"
                    class="btn btn-primary">Watch Now</a>
                <a href="https://twitter.com/60secadventures" class="btn btn-primary"><i class="bi bi-twitter"
                        aria-label="Twitter"></i></a>
            </div>
        </div>

        <h2 class="mt-4">Find out more</h2>
        <ul>
            <li><a
                    href="https://www.open.edu/openlearn/science-maths-technology/across-the-sciences/british-science-week">British
                    Science Week resources from the OU</a></li>
            <li><a
                    href="https://www.open.edu/openlearn/science-maths-technology/science/physics-and-astronomy/60-second-adventures-astronomy-black-holes">60
                    Second Adventures in Astronomy: Black holes</a></li>
            <li><a
                    href="https://www.open.edu/openlearn/science-maths-technology/across-the-sciences/how-find-invisible-black-holes">How
                    to find invisible black holes</a></li>
            <li><a
                    href="https://www.open.edu/openlearn/science-maths-technology/across-the-sciences/astronomers-think-theyve-just-spotted-invisible-black-hole-the-first-time">Astronomers
                    think they’ve just spotted an ‘invisible’ black hole for the first time</a></li>
            <li><a
                    href="https://www.open.edu/openlearn/science-maths-technology/science/physics-and-astronomy/black-holes">OpenLearn:
                    Black holes</a></li>
            <li>Clump Scout results:
                <ul>
                    <li><a href="https://blog.galaxyzoo.org/2020/04/11/galaxy-zoo-clump-scout-a-first-look-at-results/">A
                            First Look at the Results</a></li>
                    <li>
                        <a href="https://arxiv.org/abs/2201.06581">Surveying the Local
                            Universe for Giant Star-forming Clumps</a>
                    </li>
                </ul>
            </li>
            <li>Radio Galaxy Zoo LOFAR results:
                <ul>
                    <li><a
                            href="https://blog.galaxyzoo.org/2020/03/20/radio-galaxy-zoo-lofar-the-first-classification-results/">The
                            First Classification Results</a></li>
                    <li><a href="https://blog.galaxyzoo.org/2020/08/07/radio-galaxy-zoo-lofar-a-short-update/">A Short
                            Update</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>

{% endblock %}

{% block acknowledgementsEnd %}
<p class="lead">Radio Galaxy Zoo LOFAR and the Sixty Second Adventures in AI were supported by ESCAPE - The European
    Science Cluster of Astronomy & Particle Physics ESFRI Research Infrastructures, which in turn has received funding
    from the European Union’s Horizon 2020 research and innovation programme under Grant Agreement no. 824064.</p>
{% endblock %}