{% extends "base.html" %}

{% load static %}

{% block pagetitle %}SuperWASP Exoplanets{% endblock %}
{% block title %}SuperWASP Exoplanets{% endblock %}

{% block content %}

<p>Finding exoplanets was SuperWASP's primary mission. With almost <a href="https://wasp-planets.net/wasp-planets/">200 exoplanets found</a>, SuperWASP remains the most successful ground-based search for exoplanets.</p>

<p>Please see the following pages for more information about the SuperWASP exoplanet search.</p>

<div class="container mb-5">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">WASP Planets</h5>
                    <p class="card-text">Get the latest news on WASP-related research and a full list of discovered planets.</p>
                    <a href="https://wasp-planets.net/" class="btn btn-primary">Visit WASP Planets</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">NASA Exoplanet Archive</h5>
                    <p class="card-text">Contains exoplanet data from the first WASP data release, covering 2004 to 2008.</p>
                    <a href="https://exoplanetarchive.ipac.caltech.edu/docs/SuperWASPMission.html" class="btn btn-primary">Visit NASA Exoplanet Archive</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">SuperWASP on CERiT</h5>
                    <p class="card-text">A searchable database of WASP data, with downloadable and interactive lightcurves.</p>
                    <a href="https://wasp.cerit-sc.cz/form" class="btn btn-primary">Visit SuperWASP on CERiT</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}