{% extends 'base.html' %}

{% load static %}

{% block pagetitle %}Privacy Policy{% endblock %}
{% block title %}Privacy Policy{% endblock %}

{% block content %}

  <h2>Use of Cookies</h2>
  <p>The SuperWASP website uses minimal cookies to ensure the security and functionality of its services. Specifically, the website sets a CSRF token cookie when you use the search facility.</p>
  <ol>
    <li>Type of Cookie: CSRF (Cross-Site Request Forgery) Token Cookie</li>
    <li>Purpose:
      <ul>
        <li>The CSRF token cookie is a security feature designed to protect the search facility from malicious activities such as unauthorized access or data tampering.</li>
        <li>It ensures that requests made via the search facility are genuine and originate from your session.</li>
      </ul>
    </li>
    <li>Data Collected:
      <ul>
        <li>This cookie does not store any personal information, track your activity, or identify you as an individual.</li>
      </ul>
    </li>
    <li>Duration:
      <ul>
        <li>The CSRF token cookie is temporary and expires automatically after your session ends.</li>
      </ul>
    </li>
  </ol>

  <h2>Personal Data</h2>
  <p>The SuperWASP website does not collect, store, or process any personal data through its use of cookies or its services.</p>

  <h2>Third-Party Services</h2>
  <p>No third-party cookies, tracking technologies, or analytics tools are used on this website.</p>

  <h2>Your rights</h2>
  <p>You have a number of rights in relation to your personal information, which apply in certain circumstances. Some of these rights will come into force under the GDPR on 25th May 2018. In order to exercise any of these rights, please contact us using the details in section 9 of this document.</p>
  <p>You have the right;</p>
  <ul>
    <li>To access your personal information that we process</li>
    <li>To Rectify inaccuracies in the personal information that we hold about you</li>
  </ul>
  <p>In some circumstances, you also have the right</p>
  <ul>
    <li>To have your details removed from systems that we use to process your personal data</li>
    <li>To restrict the processing of your personal data in certain ways</li>
    <li>To obtain a copy of your personal data in a structured electronic data file</li>
    <li>To object to certain processing of your personal data by us</li>
    <li>To request that we stop sending you direct marketing communications.</li>
  </ul>
  <p>If you are concerned about the way we have processed your personal information, you can complain to the Information Commissioner's Office (ICO). Please visit the ICO's website: www.ico.org.uk for further details.</p>

  <h2>Contact us</h2>
  <p>Please direct any queries about this policy or about the way we process your personal information to our Data Protection Officer using the contact details below.</p>
  <ul>
    <li>Email: <a href="mailto:data-protection@open.ac.uk">data-protection@open.ac.uk</a></li>
    <li>Telephone: +44 (0)1908 653994</li>
    <li>By post: The Data Protection Officer, PO Box 497, The Open University, Walton Hall, Milton Keynes MK7 6AT.</li>

{% endblock %}