{% extends 'base.html' %}
{% load humanize %}

{% block title %}VeSPA Data Releases{% endblock %}
{% block pagetitle %}VeSPA Data Releases{% endblock %}

{% block content %}

<p>Each data release contains the metadata for periodic variable stars that have been classified by Citizen Scientists
    using the <a href="https://www.zooniverse.org/projects/ajnorton/superwasp-variable-stars">SuperWASP Variable Stars
        Zooniverse project</a>.</p>

<p>If you publish research based on VeSPA data, please consider citing <a
        href="https://doi.org/10.3847/2515-5172/ac2de8">Adam McMaster et al 2021 Res. Notes AAS 5 228</a> as well as the
    Zenodo publication for the specific data release you used.</p>

<div class="container mb-5">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% for release in object_list %}
        {% with export=release.full_export %}
        <div class="col">
            <div class="card" style="width: 18rem;">
                <h5 class="card-header">Data version {{ release.version }}</h5>
                <div class="card-body">
                    {% if export %}
                    <h6 class="card-subtitle mb-2 text-muted">Published {{ release.active_at|date:"j F Y" }}</h6>
                    {% if export.doi %}<p class="card-text"><a href="https://doi.org/{{ export.doi }}"><img
                                src="https://zenodo.org/badge/DOI/{{ export.doi }}.svg" alt="DOI"></a></p>{% endif %}
                    <a href="{% url 'view_export' export.id %}" class="btn btn-primary">Download export</a>
                    {% if export.export_file %}
                    <p class="card-text small mt-1"><i class="bi bi-file-zip"></i>
                        {{ export.export_file_naturalsize }}, {{ export.queryset.count|intcomma }} objects</p>
                    {% endif %}
                    {% else %}
                    <p class="card-text">This release is still being prepared. Please check back soon.</p>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endwith %}
        {% endfor %}
    </div>
</div>
{% endblock %}
